In [1]:
import pandas as pd

# Membaca data dari folder data/01_raw
df = pd.read_csv('../data/01_raw/criminal_data.csv')
df.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,5/10/2015 23:59,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,5/10/2015 23:51,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,5/10/2015 23:50,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,5/10/2015 23:45,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,5/10/2015 23:45,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

## üßπ Langkah 1: Menghapus Data Duplikat Berdasarkan Kolom Tertentu
Pada tahap awal pembersihan data, kita ingin menghapus baris-baris yang memiliki data kejadian kriminal yang identik berdasarkan beberapa kolom penting, yaitu:
- Dates ‚Üí waktu kejadian
- PdDistrict ‚Üí distrik kepolisian
- Address ‚Üí lokasi kejadian
- X dan Y ‚Üí koordinat geografis
Dengan menggunakan subset pada fungsi duplicated(), kita dapat menghitung jumlah baris duplikat berdasarkan kolom-kolom tersebut saja:

In [2]:
subset_cols = ['Dates', 'PdDistrict', 'Address', 'X', 'Y']
df.duplicated(subset=subset_cols).sum()

np.int64(188352)

In [3]:
df = df.drop_duplicates(subset=subset_cols)

In [5]:
print(f"Jumlah data setelah di hapus duplikatnya: {len(df)}")

Jumlah data setelah di hapus duplikatnya: 695910

## üïí Langkah 2: Parsing Kolom Waktu (Dates)
Setelah data dibersihkan dari duplikat, langkah selanjutnya adalah mengonversi kolom Dates dari format string menjadi objek datetime. Hal ini penting untuk memudahkan analisis waktu, seperti:
- Menentukan rentang waktu data
- Mengekstrak jam, hari, atau bulan
- Visualisasi tren kejadian berdasarkan waktu

Proses parsing dilakukan dengan menggunakan pd.to_datetime() dari library pandas:

In [6]:
df['Dates'] = pd.to_datetime(df['Dates'])

In [10]:
print(f"Rentang waktu data kejadian tercatat dimulai dari tahun {df['Dates'].min()}" f" sampai dengan tahun {df['Dates'].max()}")

Rentang waktu data kejadian tercatat dimulai dari tahun 2003-01-01 00:01:00 sampai dengan tahun 2015-05-10 23:59:00

## üóìÔ∏è Langkah 3: Menambahkan Fitur Waktu dari Kolom Dates
Setelah kolom Dates berhasil diubah menjadi format datetime, kita dapat mengekstrak beberapa informasi penting untuk analisis waktu lebih lanjut. Fitur waktu ini sangat berguna untuk memahami pola kriminal berdasarkan waktu.

Beberapa fitur yang akan ditambahkan:
- hour ‚Üí jam kejadian
- day ‚Üí tanggal kejadian
- month ‚Üí bulan kejadian
- year ‚Üí tahun kejadian
- weekday ‚Üí nama hari (Senin, Selasa, dst.)

In [11]:
df['Hour'] = df['Dates'].dt.hour
df['Day'] = df['Dates'].dt.day
df['Month'] = df['Dates'].dt.month
df['Year'] = df['Dates'].dt.year
df['Weekday'] = df['Dates'].dt.day_name()

In [ ]:
print(df[['Hour', 'Day', 'Month', 'Year', 'Weekday']].head())

   Hour  Day  Month  Year Weekday
0    23   10      5  2015  Sunday
1    23   10      5  2015  Sunday
2    23   10      5  2015  Sunday
3    23   10      5  2015  Sunday
5    23   10      5  2015  Sunday

In [17]:
# Simpan data
df.to_csv('../data/02_interim/criminal_data_clean.csv', index=False)